/* lg */ 
@media (min-width: 1400px) {
	
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
	
	.banner-info h1,
	.page-title h1 {
		font-size: 50px;
	}
	.fa-arrow-right.slick-arrow {
		right: -60px;
	}
	.fa-arrow-left.slick-arrow {
		left: -60px;
	}
	.service-content {
		padding: 100px 30px;
	}
	.pricing-plan h1 span::before {
		left: -60px;
	}
	.pricing-plan h1 span::after {
		right: -60px;
	}
	.tr-onepage .tr-menu .navbar-nav .nav-link {
		padding: 25px 8px;
	}
	.tr-menu .btn.btn-primary {
		padding: 23px 25px;
	}
}

@media (max-width: 991px) {
	
	.tr-menu {
		min-height: 72px;
		position: relative;
	}
	.tr-menu .container {
		position: relative;
	}
	.tr-menu .right-content {
		position: absolute;
		top: 0;
		right: 15px;
	}
	.tr-box-layout .tr-menu .right-content {
		right: 0;
	}
	.tr-menu .navbar-collapse {
		margin-top: 17px;
		padding: 15px 0;
		border-top: 1px solid #eaeaea;
	}
	.tr-menu .navbar-nav .nav-link {
		padding: 10px 15px;
	}
	.tr-dropdown-menu {
		left: 15px;
	}
	.team-content ul>li {
		width: 50%;
	}	
	.team-content .team-social ul li {
		width: inherit;
	}
	.tr-box-layout .about-content {
		display: block;
	}
	.about-slider {
		padding: 0 15px;
	}
	.brands-content .section-title {
		margin-bottom: 20px;
	}
	.about-slider .slick-arrow {
		width: 40px;
		height: 40px;
		line-height: 38px;
		font-size: 16px;
		opacity: 0;
	}
	.fa-arrow-right.slick-arrow {
		right: 50px;
	}
	.fa-arrow-left.slick-arrow {
		left: 50px;
	}
	.about-slider:hover	.fa-arrow-right.slick-arrow {
		right: 35px;
		opacity: 1;
	}	
	.about-slider:hover	.fa-arrow-left.slick-arrow {
		left: 35px;
		opacity: 1;
	}
	.tr-box-layout .service-content {
		padding: 80px 30px;
	}
	.service-info {
		padding-top: 0;
	}	
	.pricing-plan h1 {
		font-size: 50px;
	}
	.pricing-plan h1 span::before {
		left: -50px;
	}
	.pricing-plan h1 span::after {
		right: -50px;
	}	
	.pricing-plan h1 span::before, 
	.pricing-plan h1 span::after {
		width: 35px;
		height: 35px;
		line-height: 35px;
		margin-top: -15px;
		font-size: 14px;
	}
	.pricing-plan h1 span::after {
		font-size: 12px;
		line-height: 32px;
	}
	.blog-details .entry-title {
		font-size: 26px;
	}	
	.footer-widget h3 {
		font-size: 17px;
	}
	.tr-onepage .tr-menu.fixed-top .container {
		display: block;
	}
	.tr-menu.fixed-top .navbar-brand {
		padding-left: 15px;
	}			
}



/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	
	.banner-info h1,
	.page-title h1 {
		font-size: 45px;
	}
	.brand-promotion ul li {
		padding: 60px 15px;
	}
	.services ul li {
		width: 50%;
	}
	.step {
		padding: 0 15px;
	}
	.fa-angle-right.slick-arrow {
		right: -15px;
	}
	.fa-angle-left.slick-arrow {
		left: -15px;
	}
	.service-info .section-title h1	{
		font-size: 24px;
	}
	.step-icon::after {
		width: 240px;
		right: -240px;
	}
	.not-found h1 {
		font-size: 70px;
	}
	#portfolio-menu li {
		margin-right: 5px;
		padding: 7px 15px;
	}
	.tr-menu.fixed-top .navbar-brand {
		margin-top: 18px;
	}					
}

/* xs */
@media (max-width: 767px) {
	
	.banner-info h1,
	.page-title h1 {
		font-size: 36px;
	}
	.brand-promotion ul li,
	.services ul li {
		width: 100%;
		float: none;
	}
	.services ul li{
		padding: 30px 30px 45px;
	}
	.testimonial-slider {
		display: block;
		padding: 0 30px;
	}
	.fa-angle-left.slick-arrow {
		left: 15px;
	}
	.fa-angle-right.slick-arrow {
		right: 15px;
	}
	.step-icon::after {
		display: none;
	}
	.steps-content .step  {
		margin-bottom: 40px;
	}
	.steps-content .btn.btn-primary {
		margin-top: 20px;
	}
	.update-content form {
		width: inherit;
		display: block;
		padding:0 15px;
	}
	.update-content form .form-control {
		margin-bottom: 15px;
	}
	.update-content form .col-md-6:last-of-type .form-control {
		margin-bottom: 0;
	}
	.footer-bottom {
		text-align: center;
	}
	.footer-bottom .float-left,
	.footer-bottom .float-right {
		float: none !important;
		display: block;
		margin: 5px 0;
	}
	.footer-widget h3 {
		margin-top: 20px;
	}
	.footer-top .col-md-3:nth-child(2) .footer-widget h3 {
		margin-top: 0;
	}
	.step-icon {
	    font-size: 30px;
	    width: 80px;
	    height: 80px;
	    line-height: 80px;	
	}
	.section-title h1 {
		font-size: 24px;
	}
	.section-padding {
		padding: 80px 0;
	}
	.topbar-content .right-content {
		display: none;
	}
	.topbar-content .left-content {
		float: none;
	}
	.topbar-content .left-content ul {
		float: right;
	}
	.tr-menu .btn.btn-primary {
		font-size: 14px;
		padding: 15px 30px;
	}
	.tr-search .search-icon {
		font-size: 18px;
		padding: 13px 20px;
	}
	.navbar-toggler {
		margin: 12px 0 0 15px;
		padding: 5px 8px;
	}
	.tr-menu {
		min-height: 53px;
	}
	.topbar-content {
		padding: 15px 0;
	}
	.tr-menu .navbar-collapse {
		margin-top: 10px;
	}
	.about-slider .about {
		margin: 0;
	}
	.service-image,
	.steps-list:after {
		display: none;
	}
	.steps-list li {
		width: 100%;
		margin-bottom: 30px;
	}
	.steps-list li:last-child {
		margin-bottom: 0;
	}
	.steps-list li p {
		display: block;
	}
	.steps-list li .list-top {
		cursor: auto;
	}
	.steps-list li.active .icon,
	.steps-list li:hover .icon,
	.steps-list li.active .icon:after,
	.steps-list li:hover .icon:after {
		-webkit-transform:scale(1) ;
		-moz-transform:scale(1) ;
		-ms-transform:scale(1) ;
		-o-transform:scale(1) ;
		transform:scale(1) ;		
	}	
	.steps-list li.active .icon:after,
	.steps-list li:hover .icon:after {
		top: 35px;
	}	
	.tr-post {
		margin: 30px 0 0;
	}
	.tr-search form {
		width: 100%;
		left: 0;
		margin-left: 0;
		padding: 0 30px;
	}
	.tr-box-layout .gmap-content,
	.tr-box-layout .contact-content {
		padding: 30px;
	}
	#gmap {
		height: 200px;
	}
	.contact-form {
		margin-top: 30px;
	}
	.contact-content h3, 
	.tr-address span {
		font-size: 20px;
	}
	.contact-form .btn.btn-primary {
		padding: 10px 30px;
	}
	.pricing-plan {
		width: 100%;
		float: none;
	}
	.blog-details .entry-content .media {
		display: block;
	}
	.blog-details .entry-content .tr-author {
		display: inline-block;
		margin: 0 0 30px;
	}
	.blog-details .entry-title {
		margin-bottom: 30px;
	}
	.not-found h1 {
		font-size: 50px;
	}
	.not-found h2 {
		font-size: 24px;
	}
	.error-content .tr-middle {
		height: 500px;
	}
	#portfolio-menu li {
		margin: 5px 5px 5px 0;
		padding: 5px 15px;
	}
	.portfolio-info h2 {
		font-size: 20px;
	}
	.about-content {
		display: block;
	}
	.tr-onepage #gmap {
		height: 300px;
	}
	.tr-menu.fixed-top .navbar-brand {
		margin-top: 7px;
	}		
}


/* XS Portrait */
@media (max-width: 575px) {
	
	.banner-info h1,
	.page-title h1 {
		font-size: 26px;
	}
	.footer-widget h3,
	.footer-top .col-md-3:nth-child(2) .footer-widget h3 {
		margin: 25px 0 15px;
	}
	.tr-search form {
		padding: 0 15px;
	}	
	.blog-details .entry-title {
		font-size: 20px;
	}
	.blog-details .entry-content {
		padding: 30px;
	}
	blockquote {
		font-size: 20px;
	}
	.team-member {
		margin-bottom: 0;
	}
	.blog-content .section-title {
		margin-bottom: 0;
	}
	.contact-form .form-control {
		margin-bottom: 15px;
	}
	.tr-box-layout .blog-content .row {
		padding: 0 15px;
	}
	.choose-content .section-title {
		margin-bottom: 20px;
	}
	.choose {
		margin-top: 20px;
	}
	.tr-box-layout .portfolio-content {
		padding: 30px 15px;
	}
}


/* XS Portrait */
@media (max-width: 475px) {

	.section-title h1 {
		font-size: 20px;
	}		
	.banner-info h1 {
		font-size: 23px;
	}
	.tr-middle {
		height: 450px;
	}
	.team-content > ul > li {
		width: 100%;
	}
	.blog-social li,
	.blog-social li i {
		margin-right: 5px;
	}
	.blog-social li a {
		padding: 5px 15px;
	}
	#portfolio-menu li {
		font-size: 11px;
	}
	.tr-onepage .tr-menu.fixed-top .right-content {
		display: none;
	}
	.tr-onepage .tr-menu.fixed-top .navbar-toggler {
		float: right;
		margin-right: 15px;
	}
}
