

a:hover, a:focus,
.navbar-nav .nav-item .nav-link:hover, 
.navbar-nav .nav-item.active>.nav-link, 
.navbar-nav .nav-item.current>.nav-link,
.topbar-content .right-content ul li i,
.tr-search .search-icon:hover, .btn.btn-primary:hover,
.services ul li:hover h2, .footer-widget h3,
.services ul li:hover .btn.btn-primary:hover,
.entry-content a:hover, .pricing-plan.active>span,
.pricing-plan .btn.btn-primary,
.pricing-plan .btn.btn-primary:hover,
.contact-info .icon, .choose .icon,
.blockquote span, .not-found .btn.btn-primary,
.btn-view.btn-load-more:hover,
.navbar-toggler {
	color: #6C15A3;
}



.btn.btn-primary, .promotion:after,
.services ul li:hover .btn.btn-primary,
.update-content .btn:hover, .step-icon,
.about-slider .slick-arrow:hover,
#portfolio-menu li:hover, .team-social,
#portfolio-menu li.cbp-filter-item-active,
.pricing-plan .btn.btn-primary:hover,
.pricing-plan.active .btn.btn-primary,
.blog-social li:nth-child(1) a,
.btn-view.btn-load-more,
.not-found .btn.btn-primary:hover {
    background-color: #6C15A3;
}



.btn.btn-primary, .form-control:focus,
.services ul li:hover .btn.btn-primary,
.contact-form .form-control:focus,
.btn-view.btn-load-more,
.navbar-toggler {
    border-color: #6C15A3;
}

.update-content .btn,
.step.step-1 .step-icon {
    background-color: #991de7;
}


.step.step-2 .step-icon {
	background-color: #8a17d2;
}


.section-before:before {
	background-color: rgba(108, 21, 163, 0.6);
}
